.profile__subtitle {
    margin: 0;
    padding-top: 8px;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 744px) {
    .profile__subtitle {
        max-width: 282px;
        padding-top: 6px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}