.popup__message {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 36px;
    max-width: 358px;
  }

  @media screen and (max-width: 640px) {
      .popup__message {
          font-size: 20px;
          line-height: 24px;
          max-width: 244px;
          margin-top: 40px;
          margin-bottom: 50px;
      }
  }