.auth-form__input-error {
    position: absolute;
    opacity: 0;
    width: 318px;
    height: 44px;
    left: 0;
    top: 42px;
    font-size: 12px;
    line-height: 20px;
    color: #f00;
    border-top: 2px solid #f00;
    transition: .3s;
}

@media screen and (max-width: 440px) {
    .auth-form__input-error {
        width: 220px;
        left: 0;
    }
}